*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 100%;
    min-height: 600px;
    background-color: #444444;
.xing{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    .ao{
        color: white;
        font-family: monospace;
    }
    .xiao{
        width: 150px;
        height: 40px;
        opacity: 1px;
        margin-top: 15px;
        background: #ccc;
    }
}
.qing{
    background: #f0f0f0;
    padding: 100px 0;
    text-align: center;
    font-size: 48px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}
.mask{
    overflow: hidden;

    .bad{
        list-style: none;
        float: left;
        a{
            text-decoration:none;
            color: #999;
            font-size: 32px;
        }
    }
    .bad:nth-of-type(1){
        margin-left: 20px;   
        margin-right: 160px;
    }
    .bad:nth-of-type(2){
        margin-right: 20px;
    }
}
<<<<<<< HEAD
}
.zheng{
    width: 96%;
    height: 70px;
    // background: red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .tou{
        width: 50%;
        height: 100%;
        .logo{
            height: 45px;
            // background: firebrick;
            background: url(../img/logo.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

=======
>>>>>>> c0e20b7b9d95a05ea4c608c0e67a76c230b2be9d
}