.back{
    height: 103px;
    width: 100%;
    /* border: 1px solid red; */
    background: url(http://www.lofter.com/mobile/src/images/wap2/login/lofter@2x.png) no-repeat center top;
    background-size:230px 70px; 
}